<ion-view style="" class=" " id="location" title="Location">
    <ion-content class="has-header" padding="true" style="background: url(img/bg.jpg) center; background-size: cover;">




		<form name="locationForm" class="list " id="location-form1">
            <ion-list class=" " id="location-list2">

                <div style="height: 10px;" class="spacer"></div>
				<p>To help up find shops that are close to you, enter your location below. To become a
				Shoppa Driver click the settings icon above.</p>
                <label class="item item-input item-floating-label">
                    <span class="input-label" style="color: #fff;">Location</span>
                    <input ng-model="user.email" style="color: grey;" type="text" placeholder="Location">
                </label>
            </ion-list>

            <div style="height: 20px;" class="spacer"></div>
            <button ng-click="loginEmail(loginForm,user)" class=" button button-assertive  button-block"  id="signup-button3">FIND</button>
        
        </form>

	
	</ion-content>
</ion-view>
