<ion-view style="" class=" " id="login" title="Login">
    <ion-content class="has-header" padding="true" style="background: url(img/bg2.jpg) center; background-size: cover;">




		<form name="loginForm" class="list " id="login-form1">
            <ion-list class=" " id="login-list2">

                <div class="app-icon"></div>

                <label class="item item-input item-floating-label">
                    <span class="input-label" style="color: #fff;">Email</span>
                    <input ng-model="user.email" style="color: white;" type="email" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label" style="color: #fff;" >Password</span>
                    <input ng-model="user.password" style="color: white;" type="password" placeholder="Password">
                </label>
	<a class=" button button-stable  button-block button-clear" id="login-button5" ui-sref="tabsController.forgotPassword">FORGOT PASSWORD?</a>

            </ion-list>

            <div style="height: 10px;" class="spacer"></div>
            <button ng-click="loginEmail(loginForm,user)" class=" button button-assertive  button-block"  id="signup-button3">LOGIN</button>
        
        </form>

	
	</ion-content>
</ion-view>
