.auth-home {
	.bground{
		background: url("../assets/img/bg2.jpg");
		height: 60%;
		width: 100%;
	}
	/* Shoppa */
	.logo{
	  background: url("../assets/img/logo.png");
	  width: 200px;
	  height: 270px;
	  margin: 0px auto;
	}

	.large_button {
	   height:20%;
	   margin:0px !important;
	}

  .facebook-btn {
    background-color: #3b5998;
    margin: auto;
    width: 95%;
    margin-bottom: 5px;
  }

  .google-btn {
    background-color: #d34836;
    margin: auto;
    width: 95%;
    margin-bottom: 5px;
  }

  .sign-up-btn {
    margin-top: 5%;
    margin-left: 2.5%;
    width: 46%;
  }

  .log-in-btn {
    margin-top: 5%;
    margin-left: 2%;
    width: 46%;
  }

  .error {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: rgb(217, 74, 87);
    p {
      color: white;
      font-weight: bold;
    }
  }

  .terms-of-use-txt {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 10px;
    color: white;
  }
}
